@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Lato&display=swap");

:root,
::backdrop {
  /* Colors (palette)*/
  --col-white: #ffffff;
  --col-grey: #bfc0c0;
  --col-black: #2d3142;
  --col-accent: #ef8354;
  --col-secondary: #4f5d75;

  /* Colors (background)*/
  --bg-col: var(--col-white);
  --header-bg-col: var(--col-secondary);

  /* Colors (text/icons)*/
  --col-txt: var(--col-black);
  --col-txt-alt: var(--col-white);
  --col-txt-secondary: var(--col-grey);
  --col-highlight: var(--col-accent);

  /* Font family */
  --main-font: "Oswald", sans-serif;

  /* Font sizes */
  --txt-fontsize: 18px;
  --txt-lineheight: 1.2;

  /* Text clamping: number of lines */
  /* --main-itm-project-description-max-lines: 6;
    --main-itm-announcements-description-max-lines: 3; */

  /* Maximum width (including dashboard margin) */
  --max-width: min(1440px, 100%);

  /*Margins, gaps and paddings (+widths)*/

  /* Images / icons size */

  /* Radius */
  /* --radius:           10px; */

  /* Shadows */
  /* --outset-shadow: 2px 2px 8px var(--col-accent-medium);
    --outset-shadow-btn-active: 2px 2px 5px var(--col-accent-medium);
    --inset-shadow: 2px 2px 2px var(--col-accent-light) inset; */

  /* Animations on hover / active / ...*/
  /* --transition-time: 0.8s; */
}

/* ::backdrop {
  background-color: var(--col-black);
  opacity: 0.75;
} */

html {
  background-color: var(--bg-col);
  color: var(--col-txt);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: var(--txt-fontsize);
  line-height: var(--txt-lineheight);
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: inherit; /* 100% */
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}

body {
  margin: 0 auto;
  height: 100vh; /*it is assumed the same for <html>*/
  height: 100dvh; /* if supported */

  /* if you want to allow scroll: */
  /* min-height: 100vh; */
  /* height: 100%; */

  width: 100%;
  /* or max-width -- this avoids horizontal scroll bars */

  touch-action: manipulation; /* disable double tap to zoom on some browsers*/
}

/*****************************************************/

/* || Generic */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
}

.header-container,
.main-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

p {
  text-wrap: wrap;
  text-wrap: pretty; /*or balanced*/
}

ul {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none !important;
}

.fa-blank {
  display: none;
}

/* Custom style */
body > header {
  background-color: var(--header-bg-col);
}

body > main {
  flex: 1;
  padding: var(--main-padding);
}

/* project/todo div ---------------------------- */
.project-div,
.todo-div,
.note-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* header */
.project-div__header,
.todo-div__header,
.note-div__header {
  padding: var(--base-header-padding);
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
}

.project-div__header,
.note-div__header {
  grid-template-areas:
    ". path path back-btn"
    ". title title title"
    ". description description description"
    "tags tags . action-div";
}

.todo-div__header {
  grid-template-areas:
    ". path path back-btn"
    "state title imminence  ."
    ". description description description"
    ". tags . action-div"
    ". otherinfo otherinfo otherinfo";
}

.todo-div__back-btn,
.project-div__back-btn,
.note-div__back-btn {
  grid-area: back-btn;
  font-size: var(--base-back-btn-fontsize);
  align-self: top;
  justify-self: right;
}

.todo-div__path-ul,
.project-div__path-ul,
.note-div__path-ul {
  grid-area: path;
  font-size: var(--base-path-fontsize);
  align-self: end;
}

.todo-div__title-h2,
.project-div__title-h2,
.note-div__title-h2 {
  grid-area: title;
  font-size: var(--title-h2-fontsize);
  align-self: center;
}

.project-div__title-h2,
.note-div__title-h2,
.todo-mini-div__title-h2,
.todo-div__title-h2 {
  color: var(--title-h2-color);
  text-decoration-color: var(--title-h2-decoration-color);
}

.todo-div__description-p,
.project-div__description-p,
.note-div__description-p {
  grid-area: description;
  font-size: var(--base-description-fontsize);
}

.todo-div__tags-ul,
.project-div__tags-ul,
.note-div__tags-ul {
  grid-area: tags;
  font-size: var(--base-tags-fontsize);
  margin: var(--base-header-tags-margin);
  display: flex;
  gap: var(--base-ul-gap);
  flex-wrap: wrap;
}

.project-div__tag-li,
.todo-div__tag-li,
.note-div__tag-li {
  background-color: var(--base-tag-bg-color);
  color: var(--base-tag-color);
  padding: var(--base-tag-padding);
  border-radius: var(--base-tag-radius);
}

.todo-div__state-btn {
  grid-area: state;
  font-size: var(--base-status-fontsize);
  align-self: center;
  margin-right: var(--base-status-margin-right);
}

.todo-div__imminence-icon {
  grid-area: imminence;
  font-size: var(--base-imminence-fontsize);
  align-self: center;
  justify-self: center;
}

.todo-div__other-infos-div {
  grid-area: otherinfo;
  font-size: var(--base-mini-other-info-fontsize);
  margin: var(--base-header-other-info-margin);
  padding: var(--base-header-other-info-padding);
  border-top: 1px solid var(--otherinfo-line-color);
}

.todo-div__other-info-div {
  display: flex;
  gap: var(--base-ul-gap);
}

.todo-div__other-info-div-label {
  width: var(--base-other-info-label-width);
}

.todo-div__action-div,
.todo-mini-div__action-div,
.project-mini-div__action-div,
.project-div__action-div,
.note-div__action-div,
.note-mini-div__action-div {
  grid-area: action-div;
  font-size: var(--base-mini-other-info-fontsize);
  align-self: end;
  justify-self: right;
  padding-left: calc(2 * var(--base-list-gap));
  display: flex;
  gap: var(--base-list-gap);
}

/* content (of  project/todo div ) */

.project-div__content,
.todo-div__content,
.note-div__content {
  flex: 1;
}

/* footer */
.project-div__footer,
.todo-div__footer,
.note-div__footer {
  color: var(--col-txt-secondary);
  display: flex;
  font-size: var(--base-footer-fontsize);
  justify-content: flex-end;
  padding: var(--base-footer-padding);
}

/* project/todo list */

.project-list-div,
.todo-list-div,
.note-list-div {
  background-color: var(--base-list-bg-color);
  border-radius: var(--base-list-radius);
  padding: var(--base-list-padding);
  display: flex;
  flex-direction: column;
  gap: var(--base-list-gap);
}

.project-list-div__header,
.todo-list-div__header,
.note-list-div__header {
  display: flex;
}

.project-list-div__title-h3,
.todo-list-div__title-h3,
.note-list-div__title-h3 {
  flex: 1;
  font-size: var(--title-h3-fontsize);
}

.project-list-div__new-item-btn,
.todo-list-div__new-item-btn,
.note-list-div__new-item-btn {
  background-color: var(--base-list-new-item-btn-bg-color);
  border-radius: var(--base-list-new-item-btn-radius);
  color: var(--base-list-new-item-btn-color);
}

.project-list-div__expand-btn,
.todo-list-div__expand-btn,
.note-list-div__expand-btn,
.project-list-div__new-item-btn,
.todo-list-div__new-item-btn,
.note-list-div__new-item-btn {
  padding: var(--base-list-btn-padding);
  font-size: var(--base-list-btn-fontsize);
}

.project-list-div__ul,
.todo-list-div__ul,
.note-list-div__ul {
  display: flex;
  flex-direction: column;
  gap: var(--base-list-gap);
}

/* todo mini view */
.project-mini-div,
.project-mini-nav-div,
.todo-mini-div,
.note-mini-div {
  padding: var(--base-mini-padding);
  border-radius: var(--base-mini-radius);
  background: var(--base-mini-bg-color);
  display: grid;
}

.project-mini-div,
.note-mini-div {
  grid-template-areas:
    "path expand-btn"
    "title  ."
    ".  action-div";
  grid-template-columns: 1fr min-content;
}

.project-mini-nav-div {
  grid-template-areas: "title";
  grid-template-columns: 1fr;
  cursor: pointer;
}

.todo-mini-div {
  grid-template-areas:
    ". path path  expand-btn"
    "state title imminence ."
    ". otherinfo otherinfo action-div";
  grid-template-columns: min-content 1fr min-content min-content;
}

.todo-mini-div__state-btn {
  grid-area: state;
  font-size: var(--base-mini-status-fontsize);
  align-self: center;
  margin-right: var(--base-mini-status-margin-right);
}
.todo-mini-div__imminence-icon {
  grid-area: imminence;
  font-size: var(--base-mini-title-fontsize);
  align-self: center;
}

.project-mini-div__path-ul,
.todo-mini-div__path-ul,
.note-mini-div__path-ul {
  grid-area: path;
  font-size: var(--base-mini-path-fontsize);
}

.project-mini-div__expand-btn,
.todo-mini-div__expand-btn,
.note-mini-div__expand-btn {
  grid-area: expand-btn;
  font-size: var(--base-mini-path-fontsize); /* use same size as path */
  justify-self: right;
}

.project-mini-div__title-h2,
.project-mini-nav-div__title-h2,
.todo-mini-div__title-h2,
.note-mini-div__title-h2 {
  grid-area: title;
  font-size: var(--base-mini-title-fontsize);
  align-self: center;
}

.todo-mini-div__other-infos-div {
  grid-area: otherinfo;
  font-size: var(--base-mini-other-info-fontsize);
}

.todo-mini-div__other-info-div {
  display: flex;
}

/* --------------------------------------------*/

/* HOME PAGE */

.home-div__header {
  padding: var(--base-header-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    calc(var(--base-back-btn-fontsize) * var(--txt-lineheight))
    /* to align with .todo-div__header and .project-div__header*/
    min-content;
  grid-template-areas:
    "path"
    "title";
}

.home-div__path {
  grid-area: path;
  font-size: var(--base-path-fontsize);
  align-self: end;
}

.home-div__title-h2 {
  grid-area: title;
  font-size: var(--title-h2-fontsize);
  align-self: center;
}

.home-div__content {
  display: grid;
  gap: var(--home-content-gap);
}

.home-div__content .project-mini-nav-div {
  color: var(--home-project-mini-nav-color);
  background-color: var(--home-project-mini-nav-bg-color);
  padding-left: var(--base-list-padding); /* to align with .project-list-div */
}

/* Adjust home icon and path */
.project-div__path-ul,
.project-mini-div__path-ul,
.note-div__path-ul,
.note-mini-div__path-ul,
.todo-div__path-ul,
.todo-mini-div__path-ul {
  justify-self: start;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.home-div__path:first-child svg,
.project-div__path-li:last-of-type svg,
.note-div__path-li:last-of-type svg,
.project-mini-div__path-li:last-of-type svg,
.note-mini-div__path-li:last-of-type svg,
.todo-div__path-li:last-of-type svg,
.todo-mini-div__path-li:last-of-type svg {
  vertical-align: baseline;
}

.home-div__path:first-child svg,
.project-div__path-li:last-of-type svg,
.note-div__path-li:last-of-type svg,
.todo-div__path-li:last-of-type svg {
  color: var(--col-accent);
  vertical-align: baseline;
}

/* new/edit todo/project dialog and form */
::backdrop {
  background-color: var(--bg-col);
}

.project-form-dialog,
.todo-form-dialog,
.note-form-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: var(--dialog-width);
  max-width: var(--dialog-width);
  background-color: var(--dialog-bg-color);
  color: var(--dialog-color);
  padding: var(--dialog-padding);
  border: none;
  border-radius: var(--base-list-radius);
}

.project-form-dialog__header,
.todo-form-dialog__header,
.note-form-dialog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--dialog-header-padding);
}

.project-form-dialog__title-h2,
.todo-form-dialog__title-h2,
.note-form-dialog__title-h2 {
  font-size: var(--base-path-fontsize);
  padding: 0 var(--base-list-padding);
  text-transform: uppercase;
}
.project-form-dialog__back-btn,
.todo-form-dialog__back-btn,
.note-form-dialog__back-btn {
  font-size: var(--base-back-btn-fontsize);
}

.project-form-dialog__content,
.todo-form-dialog__content,
.note-form-dialog__content {
  background-color: var(--dialog-content-bg-color);
  color: var(--dialog-content-color);
  border-radius: var(--base-list-radius);
  padding: var(--base-list-padding);
  display: flex;
  flex-direction: column;
  gap: var(--base-list-padding);
}

.project-form-dialog__submit-btn,
.todo-form-dialog__submit-btn,
.note-form-dialog__submit-btn {
  background-color: var(--dialog-submit-btn-bg-color);
  color: var(--dialog-submit-btn-color);
  border-radius: var(--base-list-new-item-btn-radius);
  padding: var(--base-list-btn-padding);
}

.project-form-dialog__form,
.todo-form-dialog__form,
.note-form-dialog__form {
  display: flex;
  flex-direction: column;
}

.project-form-dialog__title-input,
.todo-form-dialog__title-input,
.note-form-dialog__title-input {
  font-size: var(--title-h2-fontsize);
  line-height: 1; /* fix wrong alignment */
}

.project-form-dialog__description-input,
.todo-form-dialog__description-input,
.note-form-dialog__description-input {
  font-size: var(--base-description-fontsize);
  resize: none;
}

.project-form-dialog__tags-ul,
.todo-form-dialog__tags-ul,
.note-form-dialog__tags-ul {
  font-size: var(--base-tags-fontsize);
  margin: var(--base-header-tags-margin);
  display: flex;
  gap: var(--base-ul-gap);
  flex-wrap: wrap;
}

.project-form-dialog__new-tag-btn,
.todo-form-dialog__new-tag-btn,
.note-form-dialog__new-tag-btn,
.project-form-dialog__tag-li,
.todo-form-dialog__tag-li,
.note-form-dialog__tag-li {
  padding: var(--base-tag-padding);
  border-radius: var(--base-tag-radius);
  display: flex;
  align-items: center;
}

.project-form-dialog__new-tag-btn,
.todo-form-dialog__new-tag-btn,
.note-form-dialog__new-tag-btn {
  padding: var(--base-tag-padding-ul);
  border: 2px solid var(--base-tag-bg-color);
}

.project-form-dialog__tag-input,
.todo-form-dialog__tag-input,
.note-form-dialog__tag-input {
  min-width: 2em; /*to be adjusted manually, based on placeholder*/
}

.project-form-dialog__tag-input:invalid,
.todo-form-dialog__tag-input:invalid,
.note-form-dialog__tag-input:invalid {
  color: var(--col-grey);
}

.project-form-dialog__tag-li,
.todo-form-dialog__tag-li,
.note-form-dialog__tag-li,
.project-form-dialog__tag-input,
.todo-form-dialog__tag-input,
.note-form-dialog__tag-input {
  background-color: var(--base-tag-bg-color);
  color: var(--base-tag-color);
}

/* to make tag input size fit to the value length */
/* see https://stackoverflow.com/questions/8100770/auto-scaling-inputtype-text-to-width-of-value/38867270#38867270*/
.project-form-dialog__tag-hidden-span,
.todo-form-dialog__tag-hidden-span,
.note-form-dialog__tag-hidden-span {
  position: absolute;
  height: 0px;
  overflow: hidden;
  white-space: pre;
  padding-left: 1em; /*to be adjusted manually*/
}

.todo-form-dialog__other-infos-div {
  font-size: var(--base-mini-other-info-fontsize);
  margin: var(--base-header-other-info-margin);
  padding: var(--base-header-other-info-padding);
  border-top: 1px solid var(--otherinfo-line-color);
  display: flex;
  flex-direction: column;
  gap: var(--base-ul-gap);
}

.todo-form-dialog__other-info-div {
  display: flex;
  gap: var(--base-ul-gap);
  align-items: baseline;
}

.todo-form-dialog__other-info-div input,
.todo-form-dialog__other-info-div select {
  height: 2em;
  width: 8em;
}
.todo-form-dialog__other-info-div input {
  padding-left: 0.18em;
}

.todo-form-dialog__other-info-div svg {
  vertical-align: baseline;
}

.todo-form-dialog__other-info-div-label {
  width: var(--base-other-info-label-width);
}

/* ------------------------------------- */

.project-form-dialog__title-input,
.todo-form-dialog__title-input,
.note-form-dialog__title-input,
.project-form-dialog__description-input,
.todo-form-dialog__description-input,
.note-form-dialog__description-input,
.project-form-dialog__tag-input,
.todo-form-dialog__tag-input,
.note-form-dialog__tag-input {
  border: none;
  outline: none;
}

.project-form-dialog__title-input:focus-visible,
.todo-form-dialog__title-input:focus-visible,
.note-form-dialog__title-input:focus-visible,
.project-form-dialog__description-input:focus-visible,
.todo-form-dialog__description-input:focus-visible,
.note-form-dialog__description-input:focus-visible,
.project-form-dialog__tag-input:focus-visible,
.todo-form-dialog__tag-input:focus-visible,
.note-form-dialog__tag-input:focus-visible {
  border-left: 2px solid var(--col-accent);
  padding-left: 0.5em;
}

.project-form-dialog__title-input::placeholder,
.todo-form-dialog__title-input::placeholder,
.note-form-dialog__title-input::placeholder,
.project-form-dialog__description-input::placeholder,
.todo-form-dialog__description-input::placeholder,
.note-form-dialog__description-input::placeholder,
.project-form-dialog__tag-input::placeholder,
.todo-form-dialog__tag-input::placeholder,
.note-form-dialog__tag-input::placeholder {
  font-style: italic;
  color: var(--col-grey);
}

:root {
  --title-h2-fontsize: 2rem;
  --title-h3-fontsize: 0.8rem;
  --base-back-btn-fontsize: 1.8rem;
  --base-status-fontsize: 2rem;
  --base-path-fontsize: 0.8rem;
  --base-description-fontsize: 1rem;
  --base-tags-fontsize: 1rem;
  --base-imminence-fontsize: 1.4rem;
  --base-list-btn-fontsize: 1rem;
  --base-mini-title-fontsize: 1rem;
  --base-mini-status-fontsize: 1.4rem;
  --base-mini-path-fontsize: 0.5rem;
  --base-mini-other-info-fontsize: 0.8rem;
  --base-footer-fontsize: 0.5rem;

  --main-padding: 1rem;
  --base-list-padding: 1rem;
  --base-list-btn-padding: 3px;
  --base-mini-padding: 0.5rem;
  --base-header-padding: 0 0 2rem;
  --base-footer-padding: 1rem 0 0;
  --base-header-other-info-padding: 0.5rem 0 0;
  --dialog-padding: 0.3rem;
  --dialog-header-padding: 0.3rem;

  --base-list-gap: 1rem;
  --base-status-margin-right: 0.3rem;
  --base-header-tags-margin: 1rem 0 0;
  --base-header-other-info-margin: 1rem 0 0;
  --base-mini-status-margin-right: 0.3rem;
  --base-tag-padding-ul: 0.2rem;
  --base-tag-padding: var(--base-tag-padding-ul) 0.4rem;

  --base-other-info-label-width: 5em;
  --base-list-gap: 0.5rem;
  --base-ul-gap: 0.5rem;
  --home-content-gap: 1rem;

  --base-list-radius: 10px;
  --base-tag-radius: 5px;
  --base-mini-radius: 10px;
  --base-list-new-item-btn-radius: 5px;

  --home-project-mini-nav-color: var(--col-txt);
  --base-list-new-item-btn-color: var(--col-grey);
  --otherinfo-line-color: var(--col-grey);
  --base-tag-color: var(--col-txt-alt);
  --title-h2-color: var(--col-txt);
  --title-h2-decoration-color: var(--col-secondary);
  --dialog-color: var(--col-txt-alt);
  --dialog-content-color: var(--col-txt);
  --dialog-submit-btn-color: var(var(--col-txt));

  --home-project-mini-nav-bg-color: var(--col-accent);
  --base-list-bg-color: var(--col-grey);
  --base-list-new-item-btn-bg-color: var(--col-secondary);
  --base-mini-bg-color: var(--col-white);
  --base-tag-bg-color: var(--col-secondary);
  --dialog-bg-color: var(--col-black);
  --dialog-content-bg-color: var(--bg-col);
  --dialog-submit-btn-bg-color: var(--col-accent);

  --dialog-margin: var(--main-padding);
  --dialog-width: calc(var(--max-width) - 2 * var(--main-padding));
}

/* --------------------------------------------*/
