@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Lato&display=swap");

:root,
::backdrop {
  /* Colors (palette)*/
  --col-white: #ffffff;
  --col-grey: #bfc0c0;
  --col-black: #2d3142;
  --col-accent: #ef8354;
  --col-secondary: #4f5d75;

  /* Colors (background)*/
  --bg-col: var(--col-white);
  --header-bg-col: var(--col-black);

  /* Colors (text/icons)*/
  --col-txt: var(--col-black);
  --col-txt-alt: var(--col-white);
  --col-txt-secondary: var(--col-grey);
  --col-highlight: var(--col-accent);

  --header-col: var(--col-white);
  --nav-txt-col: var(--col-grey);
  --nav-icon-col: var(--col-secondary);
  --nav-highlight-txt-col: var(--col-white);
  --nav-highlight-icon-col: var(--col-accent);

  /* Font family */
  --main-font: "Oswald", sans-serif;

  /* Font sizes */
  --txt-fontsize: 18px;
  --txt-lineheight: 1.2;

  --icon-h2-width: calc(
    1.2 *
      max(
        var(--title-h2-fontsize),
        var(--base-status-fontsize) + var(--base-status-margin-right)
      )
  );
  --icon-h2-mini-width: calc(
    1.2 *
      max(
        var(--base-mini-title-fontsize),
        var(--base-mini-status-fontsize) + var(--base-mini-status-margin-right)
      )
  );

  /* Text clamping: number of lines */
  /* --main-itm-project-description-max-lines: 6;
    --main-itm-announcements-description-max-lines: 3; */

  /* Maximum width (including dashboard margin) */
  --max-width: min(1440px, 100%);

  /*Margins, gaps and paddings (+widths)*/
  --nav-padding: 2em;
  --nav-gap: 0.3em;
  --nav-h2-padding: calc(3 * var(--nav-gap)) 0 calc(2 * var(--nav-gap));

  /* Radius */
  /* --radius:           10px; */

  /* Shadows */
  /* --outset-shadow: 2px 2px 8px var(--col-accent-medium);
    --outset-shadow-btn-active: 2px 2px 5px var(--col-accent-medium);
    --inset-shadow: 2px 2px 2px var(--col-accent-light) inset; */

  /* Animations on hover / active / ...*/
  /* --transition-time: 0.8s; */
}

html {
  background-color: var(--bg-col);
  color: var(--col-txt);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: var(--txt-fontsize);
  line-height: var(--txt-lineheight);
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: inherit; /* 100% */
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}

body {
  margin: 0 auto;
  height: 100vh; /*it is assumed the same for <html>*/
  height: 100dvh; /* if supported */

  /* if you want to allow scroll: */
  /* min-height: 100vh; */
  /* height: 100%; */

  width: 100%;
  /* or max-width -- this avoids horizontal scroll bars */

  touch-action: manipulation; /* disable double tap to zoom on some browsers*/
}

/*****************************************************/

/* || Generic */

body {
  display: grid;
  grid-template-areas: "header content";
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  overflow: hidden;
}

body > * {
  width: 100%;
}

.header-container,
.main-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

p {
  text-wrap: wrap;
  text-wrap: pretty; /*or balanced*/
}

ul {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none !important;
}

.fa-blank {
  display: none;
}

/* Custom style */
body > header {
  grid-area: header;
  background-color: var(--header-bg-col);
  color: var(--header-col);
  height: 100%;
  width: max-content;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body:has(nav.hidden) {
  grid-template-areas:
    "header"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

body > header:has(nav.hidden) {
  height: min-content;
  width: 100%;
  position: static;
}

@media only screen and (min-width: 641px) {
  body > header {
    position: static;
  }
}

.content-div {
  grid-area: content;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-div > main {
  flex: 1;
  padding: var(--main-padding);
}

/* main nav */
.app-heading {
  display: flex;
  gap: 0.3em;
  padding: 0.5em;
  font-size: 1.5rem;
  align-items: center;
}

.main-nav {
  padding: var(--nav-padding);
  width: max-content;
  overflow: auto;
  height: 100%;
}

.main-nav h2 {
  color: var(--nav-highlight-txt-col);
  padding: var(--nav-h2-padding);
}

.main-nav hr {
  border: none;
  margin: var(--nav-gap);
}

.main-nav__li-btn {
  font-weight: normal;
  display: flex;
  gap: var(--nav-gap);
  color: var(--nav-txt-col);
  user-select: none;
}

.main-nav__li svg {
  color: var(--nav-icon-col);
}

.main-nav__li-btn:active {
  color: var(--nav-highlight-txt-col);
}
.main-nav__li:active svg {
  color: var(--nav-highlight-icon-col);
}

@media not all and (hover: none) {
  .main-nav__li-btn:hover {
    color: var(--nav-highlight-txt-col);
  }
  .main-nav__li:hover svg {
    color: var(--nav-highlight-icon-col);
  }
}

/* project/todo div ---------------------------- */
.project-div,
.todo-div,
.note-div,
.results-div,
.filters-and-tags-div,
.search-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* header */
.project-div__header,
.todo-div__header,
.note-div__header,
.results-div__header,
.filters-and-tags-div__header,
.search-div__header {
  padding: var(--base-header-padding);
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
}

.project-div__header {
  grid-template-areas:
    ". path path back-btn"
    "icon title title ."
    ". description description description"
    ". tags . action-div"
    ". otherinfo otherinfo otherinfo";
  grid-template-columns: var(--icon-h2-width) 1fr min-content min-content;
}

.todo-div__header {
  grid-template-areas:
    ". path path back-btn"
    "state title imminence  ."
    ". description description description"
    ". tags . action-div"
    ". otherinfo otherinfo otherinfo";
  grid-template-columns: var(--icon-h2-width) 1fr min-content min-content;
}

.note-div__header {
  grid-template-areas:
    ". path path back-btn"
    "icon title title ."
    ". description description description"
    ". tags . action-div"
    ". otherinfo otherinfo otherinfo";
  grid-template-columns: var(--icon-h2-width) 1fr min-content min-content;
}

.results-div__header,
.filters-and-tags-div__header,
.search-div__header {
  grid-template-areas:
    ". path path back-btn"
    "icon title title .";
  grid-template-columns: var(--icon-h2-width) 1fr min-content min-content;
}

.todo-div__back-btn,
.project-div__back-btn,
.note-div__back-btn,
.results-div__back-btn,
.filters-and-tags-div__back-btn,
.search-div__back-btn {
  grid-area: back-btn;
  font-size: var(--base-back-btn-fontsize);
  align-self: top;
  justify-self: right;
}

.todo-div__path-ul,
.project-div__path-ul,
.note-div__path-ul,
.results-div__path-ul,
.filters-and-tags-div__path-ul,
.search-div__path-ul {
  grid-area: path;
  font-size: var(--base-path-fontsize);
  align-self: end;
}

.todo-div__title-h2,
.project-div__title-h2,
.note-div__title-h2,
.results-div__title-h2,
.filters-and-tags-div__title-h2,
.search-div__title-h2,
.todo-div__title-icon,
.project-div__title-icon,
.note-div__title-icon,
.results-div__title-icon,
.filters-and-tags-div__title-icon,
.search-div__title-icon {
  font-size: var(--title-h2-fontsize);
  align-self: center;
}

.todo-div__title-h2,
.project-div__title-h2,
.note-div__title-h2,
.results-div__title-h2,
.filters-and-tags-div__title-h2,
.search-div__title-h2 {
  grid-area: title;
}

.todo-div__title-icon,
.project-div__title-icon,
.note-div__title-icon,
.results-div__title-icon,
.filters-and-tags-div__title-icon,
.search-div__title-icon {
  grid-area: icon;
}

.project-div__title-h2,
.note-div__title-h2,
.todo-mini-div__title-h2,
.todo-div__title-h2,
.results-div__title-h2,
.filters-and-tags-div__title-h2,
.search-div__title-h2,
.project-div__title-icon,
.note-div__title-icon,
.todo-mini-div__title-icon,
.todo-div__title-icon,
.results-div__title-icon,
.filters-and-tags-div__title-icon,
.search-div__title-icon {
  color: var(--title-h2-color);
  text-decoration-color: var(--title-h2-decoration-color);
}

.todo-div__description-p,
.project-div__description-p,
.note-div__description-p {
  grid-area: description;
  font-size: var(--base-description-fontsize);
}

.todo-div__tags-ul,
.project-div__tags-ul,
.note-div__tags-ul,
.filters-and-tags-div__tag-filter-ul,
.filters-and-tags-div__todo-filter-ul {
  grid-area: tags;
  font-size: var(--base-tags-fontsize);
  margin: var(--base-header-tags-margin);
  display: flex;
  gap: var(--base-ul-gap);
  flex-wrap: wrap;
}

.filters-and-tags-div__todo-filter-ul {
  border-radius: var(--base-tag-radius);
  overflow: hidden;
  gap: 2px;
}

.project-div__tag-btn,
.todo-div__tag-btn,
.note-div__tag-btn,
.filters-and-tags-div__tag-filter-btn {
  background-color: var(--base-tag-bg-color);
  color: var(--base-tag-color);
  padding: var(--base-tag-padding);
  border-radius: var(--base-tag-radius);
}

.filters-and-tags-div__todo-filter-btn {
  background-color: var(--base-tag-bg-color);
  color: var(--base-tag-color);
  padding: var(--base-todo-padding);
  width: 100%;
  height: 100%;
}

.filters-and-tags-div__todo-filter-li {
  border-radius: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-div__tag-btn:active,
.project-div__tag-btn:active,
.note-div__tag-btn:active,
.filters-and-tags-div__tag-filter-btn:active,
.filters-and-tags-div__todo-filter-btn:active {
  background-color: var(--col-accent);
}

@media not all and (hover: none) {
  .todo-div__tag-btn:hover,
  .project-div__tag-btn:hover,
  .note-div__tag-btn:hover,
  .filters-and-tags-div__tag-filter-btn:hover,
  .filters-and-tags-div__todo-filter-btn:hover {
    background-color: var(--col-accent);
  }
}

.todo-div__state-btn {
  grid-area: state;
  font-size: var(--base-status-fontsize);
  align-self: center;
  margin-right: var(--base-status-margin-right);
}

.todo-div__state-btn:active {
  transform-origin: 50% 50%;
  transform: scale(1.1);
}
@media not all and (hover: none) {
  .todo-div__state-btn:hover {
    transform-origin: 50% 50%;
    transform: scale(1.1);
  }
}

.todo-div__imminence-icon {
  grid-area: imminence;
  font-size: var(--base-imminence-fontsize);
  align-self: center;
  justify-self: center;
}

.project-div__other-infos-div,
.todo-div__other-infos-div,
.note-div__other-infos-div {
  grid-area: otherinfo;
  font-size: var(--base-other-info-fontsize);
  margin: var(--base-header-other-info-margin);
  padding: var(--base-header-other-info-padding);
}

.todo-div__other-infos-div {
  border-top: 1px solid var(--otherinfo-line-color);
}

.todo-div__other-info-div {
  display: flex;
  gap: var(--base-ul-gap);
}

.todo-div__other-info-div-label {
  width: var(--base-other-info-label-width);
}

.todo-div__action-div,
.todo-mini-div__action-div,
.project-mini-div__action-div,
.project-div__action-div,
.note-div__action-div,
.note-mini-div__action-div {
  grid-area: action-div;
  font-size: var(--base-other-info-fontsize);
  align-self: end;
  justify-self: right;
  padding-left: calc(2 * var(--base-list-gap));
  display: flex;
  gap: var(--base-list-gap);
}

/* content (of  project/todo div ) */

.project-div__content,
.todo-div__content,
.note-div__content,
.results-div__content,
.filters-and-tags-div__content,
.filters-and-tags-div__todo-filters-div,
.search-div__content {
  display: flex;
  flex-direction: column;
  gap: var(--base-content-gap);
}
.project-div__content,
.todo-div__content,
.note-div__content,
.results-div__content,
.filters-and-tags-div__content,
.search-div__content {
  flex: 1;
}

/* footer */
.project-div__footer,
.todo-div__footer,
.note-div__footer {
  color: var(--col-txt-secondary);
  display: flex;
  font-size: var(--base-footer-fontsize);
  justify-content: flex-end;
  padding: var(--base-footer-padding);
}

/* project/todo list */

.project-list-div,
.todo-list-div,
.note-list-div {
  background-color: var(--base-list-bg-color);
  border-radius: var(--base-list-radius);
  padding: var(--base-list-padding);
  display: flex;
  flex-direction: column;
  gap: var(--base-list-gap);
}

.project-list-div__header,
.todo-list-div__header,
.note-list-div__header {
  display: flex;
  align-items: flex-start;
  padding: 0 var(--base-list-padding-sides);
}

.project-list-div__heading,
.todo-list-div__heading,
.note-list-div__heading {
  display: flex;
  gap: 1em;
  flex: 1;
  align-items: baseline;
  user-select: none;
}

.project-list-div__title-h3,
.todo-list-div__title-h3,
.note-list-div__title-h3 {
  font-size: var(--title-h3-fontsize);
}

.project-list-div__title-h3 svg,
.todo-list-div__title-h3 svg,
.note-list-div__title-h3 svg {
  padding-right: 0.2em;
}

.project-list-div__size,
.todo-list-div__size,
.note-list-div__size {
  font-size: var(--base-list-size-fontsize);
  color: var(--base-list-size-color);
}

.project-list-div__new-item-btn,
.todo-list-div__new-item-btn,
.note-list-div__new-item-btn {
  background-color: var(--base-list-new-item-btn-bg-color);
  border-radius: var(--base-list-new-item-btn-radius);
  color: var(--base-list-new-item-btn-color);
}

.project-list-div__new-item-btn:active,
.todo-list-div__new-item-btn:active,
.note-list-div__new-item-btn:active {
  color: var(--base-list-new-item-btn-hover-color);
  background-color: var(--base-list-new-item-btn-hover-bg-color);
}

@media not all and (hover: none) {
  .project-list-div__new-item-btn:hover,
  .todo-list-div__new-item-btn:hover,
  .note-list-div__new-item-btn:hover {
    color: var(--base-list-new-item-btn-hover-color);
    background-color: var(--base-list-new-item-btn-hover-bg-color);
  }
}

.project-list-div__expand-btn,
.todo-list-div__expand-btn,
.note-list-div__expand-btn,
.project-list-div__settings-btn,
.todo-list-div__settings-btn,
.note-list-div__settings-btn,
.project-list-div__new-item-btn,
.todo-list-div__new-item-btn,
.note-list-div__new-item-btn {
  padding: var(--base-list-btn-padding);
  font-size: var(--base-list-btn-fontsize);
}

.project-list-div__ul,
.todo-list-div__ul,
.note-list-div__ul {
  display: flex;
  flex-direction: column;
  gap: var(--base-list-gap);
}

/* mini / mini nav view */
.project-mini-div,
.project-mini-nav-div,
.todo-mini-div,
.note-mini-div,
.filters-and-tags-mini-nav-div,
.search-mini-nav-div,
.results-mini-nav-div {
  padding: var(--base-mini-padding);
  border-radius: var(--base-mini-radius);
  background: var(--base-mini-bg-color);
  display: grid;
  gap: 0.2em;
}

.project-mini-div:active,
.todo-mini-div:active,
.note-mini-div:active {
  box-shadow: 1px 1px 6px var(--col-secondary);
}

@media not all and (hover: none) {
  .project-mini-div:hover,
  .todo-mini-div:hover,
  .note-mini-div:hover {
    box-shadow: 1px 1px 6px var(--col-secondary);
  }
}

.project-mini-div,
.todo-mini-div,
.note-mini-div {
  grid-template-rows: min-content var(--base-mini-status-fontsize) min-content;
}

.project-mini-div {
  grid-template-areas:
    ". path expand-btn"
    "icon  title expand-btn"
    ". otherinfo  action-div";
  grid-template-columns: var(--icon-h2-mini-width) 1fr min-content;
}

.note-mini-div {
  grid-template-areas:
    ". path expand-btn"
    "icon title expand-btn"
    ". otherinfo  action-div";
  grid-template-columns: var(--icon-h2-mini-width) 1fr min-content;
}

.project-mini-nav-div,
.results-mini-nav-div,
.filters-and-tags-mini-nav-div,
.search-mini-nav-div {
  grid-template-areas: "icon title";
  grid-template-columns: var(--icon-h2-mini-width) 1fr;
  cursor: pointer;
}

.todo-mini-div {
  grid-template-areas:
    ". path path  expand-btn"
    "state title imminence expand-btn"
    ". otherinfo otherinfo action-div";
  grid-template-columns: var(--icon-h2-mini-width) 1fr min-content min-content;
}

.todo-mini-div__state-btn {
  grid-area: state;
  font-size: var(--base-mini-status-fontsize);
  align-self: center;
  margin-right: var(--base-mini-status-margin-right);
}

.todo-mini-div__state-btn:active {
  transform-origin: 50% 50%;
  transform: scale(1.1);
}
@media not all and (hover: none) {
  .todo-mini-div__state-btn:hover {
    transform-origin: 50% 50%;
    transform: scale(1.1);
  }
}

.todo-mini-div__imminence-icon {
  grid-area: imminence;
  font-size: var(--base-mini-title-fontsize);
  align-self: center;
}

.project-mini-div__path-ul,
.todo-mini-div__path-ul,
.note-mini-div__path-ul {
  grid-area: path;
  font-size: var(--base-mini-path-fontsize);
}

.project-mini-div__expand-btn,
.todo-mini-div__expand-btn,
.note-mini-div__expand-btn {
  grid-area: expand-btn;
  font-size: var(--base-mini-path-fontsize); /* use same size as path */
  justify-self: right;
  align-self: start;
}

.project-mini-div__title-h2,
.project-mini-nav-div__title-h2,
.todo-mini-div__title-h2,
.note-mini-div__title-h2,
.results-mini-nav-div__title-h2,
.filters-and-tags-mini-nav-div__title-h2,
.search-mini-nav-div__title-h2,
.project-mini-div__title-icon,
.project-mini-nav-div__title-icon,
.todo-mini-div__title-icon,
.note-mini-div__title-icon,
.results-mini-nav-div__title-icon,
.filters-and-tags-mini-nav-div__title-icon,
.search-mini-nav-div__title-icon {
  font-size: var(--base-mini-title-fontsize);
  align-self: center;
}

.project-mini-div__title-h2,
.project-mini-nav-div__title-h2,
.todo-mini-div__title-h2,
.note-mini-div__title-h2,
.results-mini-nav-div__title-h2,
.filters-and-tags-mini-nav-div__title-h2,
.search-mini-nav-div__title-h2 {
  grid-area: title;
}

.project-mini-div__title-icon,
.project-mini-nav-div__title-icon,
.todo-mini-div__title-icon,
.note-mini-div__title-icon,
.results-mini-nav-div__title-icon,
.filters-and-tags-mini-nav-div__title-icon,
.search-mini-nav-div__title-icon {
  grid-area: icon;
  justify-self: center;
}

.project-mini-nav-div__title-h2,
.results-mini-nav-div__title-h2,
.filters-and-tags-mini-nav-div__title-h2,
.search-mini-nav-div__title-h2 {
  font-weight: normal;
  flex: 1;
}

.project-mini-div__other-infos-div,
.todo-mini-div__other-infos-div,
.note-mini-div__other-infos-div {
  grid-area: otherinfo;
  font-size: var(--base-mini-other-info-fontsize);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  align-self: end;
  gap: 0.7em;
}

.project-mini-div__other-infos-div svg,
.todo-mini-div__other-infos-div svg,
.note-mini-div__other-infos-div svg {
  vertical-align: baseline;
}

.project-mini-div__other-info-div,
.todo-mini-div__other-info-div,
.note-mini-div__other-info-div {
  display: flex;
  gap: 0.1em;
}

.project-mini-div__expand-btn,
.todo-mini-div__expand-btn,
.note-mini-div__expand-btn {
  color: var(--lighter-btn-color);
}

.project-div__edit-btn,
.todo-div__edit-btn,
.note-div__edit-btn,
.project-div__remove-btn,
.todo-div__remove-btn,
.note-div__remove-btn,
.project-mini-div__edit-btn,
.todo-mini-div__edit-btn,
.note-mini-div__edit-btn,
.project-mini-div__remove-btn,
.todo-mini-div__remove-btn,
.note-mini-div__remove-btn {
  color: var(--light-btn-color);
}

.project__div__edit-btn:active,
.todo-div__edit-btn:active,
.note-div__edit-btn:active,
.project-div__remove-btn:active,
.todo-div__remove-btn:active,
.note-div__remove-btn:active,
.project-mini-div__edit-btn:active,
.todo-mini-div__edit-btn:active,
.note-mini-div__edit-btn:active,
.project-mini-div__remove-btn:active,
.todo-mini-div__remove-btn:active,
.note-mini-div__remove-btn:active {
  color: var(--btn-hover-color);
}

@media not all and (hover: none) {
  .project__div__edit-btn:hover,
  .todo-div__edit-btn:hover,
  .note-div__edit-btn:hover,
  .project-div__remove-btn:hover,
  .todo-div__remove-btn:hover,
  .note-div__remove-btn:hover,
  .project-mini-div__edit-btn:hover,
  .todo-mini-div__edit-btn:hover,
  .note-mini-div__edit-btn:hover,
  .project-mini-div__remove-btn:hover,
  .todo-mini-div__remove-btn:hover,
  .note-mini-div__remove-btn:hover {
    color: var(--btn-hover-color);
  }
}

/* --------------------------------------------*/

/* HOME PAGE */

.home-div__header {
  padding: var(--base-header-padding);
  display: grid;
  grid-template-columns: var(--icon-h2-width) 1fr;
  grid-template-rows:
    calc(var(--base-back-btn-fontsize) * var(--txt-lineheight))
    /* to align with .todo-div__header and .project-div__header*/
    min-content;
  grid-template-areas:
    ". path"
    "icon title";
}

.home-div__path {
  grid-area: path;
  font-size: var(--base-path-fontsize);
  align-self: end;
}

.home-div__title-h2 {
  grid-area: title;
  font-size: var(--title-h2-fontsize);
  align-self: center;
}

.home-div__title-icon {
  color: var(--title-h2-color);
  grid-area: icon;
  font-size: var(--title-h2-fontsize);
  align-self: center;
}

.home-div__title-icon svg {
  vertical-align: baseline;
}

.home-div__content {
  display: grid;
  gap: var(--home-content-gap);
}

.home-div__content .project-mini-nav-div,
.home-div__content .results-mini-nav-div,
.home-div__content .filters-and-tags-mini-nav-div,
.home-div__content .search-mini-nav-div {
  padding-left: var(
    --base-list-padding-sides
  ); /* to align with .project-list-div */
  padding-right: var(
    --base-list-padding-sides
  ); /* to align with .project-list-div */
  display: flex;
  justify-content: left;
  align-items: center;
}

.home-div__content .project-mini-nav-div,
.home-div__content .results-mini-nav-div,
.home-div__content .filters-and-tags-mini-nav-div,
.home-div__content .search-mini-nav-div {
  color: var(--home-project-mini-nav-color);
  background-color: var(--home-project-mini-nav-bg-color);
}

.home-div__content .project-mini-nav-div:active,
.home-div__content .results-mini-nav-div:active,
.home-div__content .filters-and-tags-mini-nav-div:active,
.home-div__content .search-mini-nav-div:active {
  background-color: var(--home-project-mini-nav-hover-bg-color);
}

.home-div__content .project-mini-nav-div:active svg,
.home-div__content .results-mini-nav-div:active svg,
.home-div__content .filters-and-tags-mini-nav-div:active svg,
.home-div__content .search-mini-nav-div:active svg {
  color: var(--home-project-mini-nav-hover-color);
}

@media not all and (hover: none) {
  .home-div__content .project-mini-nav-div:hover,
  .home-div__content .results-mini-nav-div:hover,
  .home-div__content .filters-and-tags-mini-nav-div:hover,
  .home-div__content .search-mini-nav-div:hover {
    background-color: var(--home-project-mini-nav-hover-bg-color);
  }

  .home-div__content .project-mini-nav-div:hover svg,
  .home-div__content .results-mini-nav-div:hover svg,
  .home-div__content .filters-and-tags-mini-nav-div:hover svg,
  .home-div__content .search-mini-nav-div:hover svg {
    color: var(--home-project-mini-nav-hover-color);
  }
}

/* Counters */
.project-mini-div__n-todo-nested-icon,
.todo-mini-div__n-todo-nested-icon,
.note-mini-div__n-todo-nested-icon,
.project-mini-nav-div__n-todo-nested-icon,
.todo-mini-nav-div__n-todo-nested-icon,
.note-mini-nav-div__n-todo-nested-icon,
.results-mini-nav-div__n-todo-icon {
  color: var(--ntodonested-color);
  background-color: var(--ntodonested-bg-color);
  border-radius: 50%;
  padding: 0.5em;
  min-width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--ntodonested-fontsize);
}

.project-mini-nav-div__n-todo-nested-icon,
.todo-mini-nav-div__n-todo-nested-icon,
.note-mini-nav-div__n-todo-nested-icon,
.results-mini-nav-div__n-todo-icon {
  color: var(--ntodonested-nav-color);
  background-color: var(--ntodonested-nav-bg-color);
}

.project-mini-nav-div__n-todo-nested-icon,
.todo-mini-nav-div__n-todo-nested-icon,
.note-mini-nav-div__n-todo-nested-icon,
.results-mini-nav-div__n-todo-icon {
  font-size: var(--ntodonested-nav-fontsize);
}

.project-mini-nav-div__n-todo-nested-icon__hidden,
.results-mini-nav-div__n-todo-icon__hidden,
.todo-mini-div__due-date-info-div__none,
.project-mini-div__n-todo-nested-icon__hidden,
.todo-mini-div__n-todo-nested-icon__hidden,
.note-mini-div__n-todo-nested-icon__hidden,
.todo-mini-nav-div__n-todo-nested-icon__hidden,
.note-mini-nav-div__n-todo-nested-icon__hidden,
.resuls-mini-nav-div__n-todo-nested-icon__hidden,
.project-mini-nav-div__n-todo-icon__hidden,
.project-mini-div__other-info-div__hidden,
.todo-mini-div__other-info-div__hidden,
.note-mini-div__other-info-div__hidden {
  display: none;
}

/* Adjust home icon and path */
.project-div__path-ul,
.project-mini-div__path-ul,
.note-div__path-ul,
.note-mini-div__path-ul,
.todo-div__path-ul,
.todo-mini-div__path-ul,
.results-div__path-ul,
.filters-and-tags-div__path-ul .search-div__path-ul {
  justify-self: start;
  display: flex;
  justify-content: flex-start;
  gap: 0 0.5em;
  flex-wrap: wrap;
}

.home-div__path svg,
.project-div__path-li svg,
.note-div__path-li svg,
.project-mini-div__path-li svg,
.note-mini-div__path-li svg,
.todo-div__path-li svg,
.todo-mini-div__path-li svg,
.results-div__path-li svg,
.filters-and-tags-div__path-li svg,
.search-div__path-li svg {
  vertical-align: baseline;
}

.home-div__path:first-child svg,
.project-div__path-li:first-of-type svg,
.note-div__path-li:first-of-type svg,
.todo-div__path-li:first-of-type svg,
.results-div__path-li:first-of-type svg,
.filters-and-tags-div__path-li:first-of-type svg,
.search-div__path-li:first-of-type svg {
  color: var(--col-accent);
}

.search-div__lookup-input {
  font-size: var(--txt-fontsize);
  line-height: 1; /* fix wrong alignment */
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid var(--col-grey);
  border-radius: var(--base-list-radius);
  padding: 0.5em;
}

.search-div__lookup-input:focus-visible {
  border-color: var(--col-accent);
}

.search-div__lookup-input::placeholder {
  font-style: italic;
  color: var(--col-grey);
}

.home-div__imminence-results .results-mini-nav-div {
  border-radius: var(--base-mini-radius) var(--base-mini-radius) 0 0;
}

.home-div__imminence-results .todo-list-div {
  border-radius: 0 0 var(--base-mini-radius) var(--base-mini-radius);
}

/* new/edit todo/project dialog and form */
::backdrop {
  background-color: var(--bg-col);
  opacity: 0.75;
}

.project-form-dialog,
.todo-form-dialog,
.note-form-dialog,
.list-settings-form-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: var(--dialog-width);
  max-width: var(--dialog-width);
  background-color: var(--dialog-bg-color);
  color: var(--dialog-color);
  padding: var(--dialog-padding);
  border: none;
  border-radius: var(--base-list-radius);
}

.project-form-dialog__header,
.todo-form-dialog__header,
.note-form-dialog__header,
.list-settings-form-dialog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--dialog-header-padding);
}

.project-form-dialog__title-h2,
.todo-form-dialog__title-h2,
.note-form-dialog__title-h2,
.list-settings-form-dialog__title-h2 {
  font-size: var(--base-path-fontsize);
  padding: 0 var(--base-list-padding-top);
  text-transform: uppercase;
}
.project-form-dialog__back-btn,
.todo-form-dialog__back-btn,
.note-form-dialog__back-btn,
.list-settings-form-dialog__back-btn {
  font-size: var(--base-back-btn-fontsize);
}

.project-form-dialog__content,
.todo-form-dialog__content,
.note-form-dialog__content,
.list-settings-form-dialog__content {
  background-color: var(--dialog-content-bg-color);
  color: var(--dialog-content-color);
  border-radius: var(--base-list-radius);
  padding: var(--base-list-padding-top);
  display: flex;
  flex-direction: column;
  gap: var(--base-list-padding-top);
}

.todo-form-dialog__path-div,
.project-form-dialog__path-div,
.note-form-dialog__path-div {
  font-size: var(--base-path-fontsize);
  justify-self: start;
  display: flex;
  justify-content: flex-start;
  gap: 0 0.5em;
  flex-wrap: wrap;
  margin-bottom: 0.25em;
}

.todo-form-dialog__path-div svg,
.project-form-dialog__path-div svg,
.note-form-dialog__path-div svg {
  vertical-align: baseline;
}

.project-form-dialog__submit-btn,
.todo-form-dialog__submit-btn,
.note-form-dialog__submit-btn,
.list-settings-form-dialog__submit-btn {
  background-color: var(--dialog-submit-btn-bg-color);
  color: var(--dialog-submit-btn-color);
  border-radius: var(--base-list-new-item-btn-radius);
  padding: var(--base-list-btn-padding);
}

.project-form-dialog__form,
.todo-form-dialog__form,
.note-form-dialog__form,
.list-settings-form-dialog__form {
  display: flex;
  flex-direction: column;
}

.project-form-dialog__title-input,
.todo-form-dialog__title-input,
.note-form-dialog__title-input {
  font-size: var(--title-h2-fontsize);
  line-height: 1; /* fix wrong alignment */
}

.project-form-dialog__description-input,
.todo-form-dialog__description-input,
.note-form-dialog__description-input {
  font-size: var(--base-description-fontsize);
  resize: none;
}

.project-form-dialog__tags-ul,
.todo-form-dialog__tags-ul,
.note-form-dialog__tags-ul {
  font-size: var(--base-tags-fontsize);
  margin: var(--base-header-tags-margin);
  display: flex;
  gap: var(--base-ul-gap);
  flex-wrap: wrap;
}

.project-form-dialog__new-tag-btn,
.todo-form-dialog__new-tag-btn,
.note-form-dialog__new-tag-btn,
.project-form-dialog__tag-li,
.todo-form-dialog__tag-li,
.note-form-dialog__tag-li {
  padding: var(--base-tag-padding);
  border-radius: var(--base-tag-radius);
  display: flex;
  align-items: center;
}

.project-form-dialog__new-tag-btn,
.todo-form-dialog__new-tag-btn,
.note-form-dialog__new-tag-btn {
  padding: var(--base-tag-padding-ul);
  border: 2px solid var(--base-tag-bg-color);
}

.project-form-dialog__tag-input,
.todo-form-dialog__tag-input,
.note-form-dialog__tag-input {
  min-width: 2em; /*to be adjusted manually, based on placeholder*/
}

.project-form-dialog__tag-input:invalid,
.todo-form-dialog__tag-input:invalid,
.note-form-dialog__tag-input:invalid {
  color: var(--col-grey);
}

.project-form-dialog__tag-li,
.todo-form-dialog__tag-li,
.note-form-dialog__tag-li,
.project-form-dialog__tag-input,
.todo-form-dialog__tag-input,
.note-form-dialog__tag-input {
  background-color: var(--base-tag-bg-color);
  color: var(--base-tag-color);
}

/* to make tag input size fit to the value length */
/* see https://stackoverflow.com/questions/8100770/auto-scaling-inputtype-text-to-width-of-value/38867270#38867270*/
.project-form-dialog__tag-hidden-span,
.todo-form-dialog__tag-hidden-span,
.note-form-dialog__tag-hidden-span {
  position: absolute;
  height: 0px;
  overflow: hidden;
  white-space: pre;
  padding-left: 1em; /*to be adjusted manually*/
}

.todo-form-dialog__other-infos-div,
.list-settings-form-dialog__ {
  font-size: var(--base-other-info-fontsize);
  margin: var(--base-header-other-info-margin);
  padding: var(--base-header-other-info-padding);
  border-top: 1px solid var(--otherinfo-line-color);
  display: flex;
  flex-direction: column;
  gap: var(--base-ul-gap);
}

.todo-form-dialog__other-info-div {
  display: flex;
  gap: var(--base-ul-gap);
  align-items: baseline;
}

.list-settings-form-dialog__sort-by-input {
  font-size: var(--base-other-info-fontsize);
  display: flex;
  gap: var(--base-ul-gap);
  align-items: baseline;
}

.todo-form-dialog__other-info-div input,
.todo-form-dialog__other-info-div select,
.list-settings-form-dialog__sort-by-input select {
  height: 2em;
  width: 8em;
}
.todo-form-dialog__other-info-div input {
  padding-left: 0.18em;
}

.todo-form-dialog__other-info-div svg,
.list-settings-form-dialog__sort-by-input svg {
  vertical-align: baseline;
}

.todo-form-dialog__other-info-div-label,
.list-settings-form-dialog__sort-by-input-label {
  width: var(--base-other-info-label-width);
}

/* ------------------------------------- */

.project-form-dialog__title-input,
.todo-form-dialog__title-input,
.note-form-dialog__title-input,
.project-form-dialog__description-input,
.todo-form-dialog__description-input,
.note-form-dialog__description-input,
.project-form-dialog__tag-input,
.todo-form-dialog__tag-input,
.note-form-dialog__tag-input {
  border: none;
  outline: none;
}

.project-form-dialog__title-input:focus-visible,
.todo-form-dialog__title-input:focus-visible,
.note-form-dialog__title-input:focus-visible,
.project-form-dialog__description-input:focus-visible,
.todo-form-dialog__description-input:focus-visible,
.note-form-dialog__description-input:focus-visible,
.project-form-dialog__tag-input:focus-visible,
.todo-form-dialog__tag-input:focus-visible,
.note-form-dialog__tag-input:focus-visible {
  border-left: 2px solid var(--col-accent);
  padding-left: 0.5em;
}

.project-form-dialog__title-input::placeholder,
.todo-form-dialog__title-input::placeholder,
.note-form-dialog__title-input::placeholder,
.project-form-dialog__description-input::placeholder,
.todo-form-dialog__description-input::placeholder,
.note-form-dialog__description-input::placeholder,
.project-form-dialog__tag-input::placeholder,
.todo-form-dialog__tag-input::placeholder,
.note-form-dialog__tag-input::placeholder {
  font-style: italic;
  color: var(--col-grey);
}

.project-form-dialog__tag-input::-webkit-calendar-picker-indicator,
.todo-form-dialog__tag-input::-webkit-calendar-picker-indicator,
.note-form-dialog__tag-input::-webkit-calendar-picker-indicator {
  display: none !important;
  opacity: 0;
}

:root {
  --title-h2-fontsize: 2rem;
  --title-h3-fontsize: 0.8rem;
  --base-back-btn-fontsize: 1.8rem;
  --base-status-fontsize: 2rem;
  --base-path-fontsize: 0.8rem;
  --base-description-fontsize: 1rem;
  --base-tags-fontsize: 1rem;
  --base-imminence-fontsize: 1.4rem;
  --base-list-btn-fontsize: 1rem;
  --base-mini-title-fontsize: 1rem;
  --base-mini-status-fontsize: 1.4rem;
  --base-mini-path-fontsize: 0.5rem;
  --base-other-info-fontsize: 0.8rem;
  --base-mini-other-info-fontsize: 0.5rem;
  --base-footer-fontsize: 0.5rem;
  --ntodonested-fontsize: calc(0.5 * var(--base-other-info-fontsize));
  --ntodonested-nav-fontsize: calc(0.75 * var(--base-other-info-fontsize));
  --base-list-size-fontsize: 0.7rem;

  --main-padding: 1rem;
  --base-list-padding-top: 1rem;
  --base-list-padding-sides: 0.5rem;
  --base-list-padding: var(--base-list-padding-top)
    var(--base-list-padding-sides) var(--base-list-padding-sides);
  --base-list-btn-padding: 3px;
  --base-mini-padding: 0.5rem;
  --base-header-padding: 0 0 2rem;
  --base-footer-padding: 1rem 0 0;
  --base-header-other-info-padding: 0.5rem 0 0;
  --dialog-padding: 0.3rem;
  --dialog-header-padding: 0.3rem;

  --base-list-gap: 1rem;
  --base-status-margin-right: 0.3rem;
  --base-header-tags-margin: 1rem 0 0;
  --base-header-other-info-margin: 1rem 0 0;
  --base-mini-status-margin-right: 0.3rem;
  --base-tag-padding-ul: 0.2rem;
  --base-tag-padding: var(--base-tag-padding-ul) 0.4rem;
  --base-todo-padding: 1em;

  --base-content-gap: 1rem;
  --base-other-info-label-width: 5em;
  --base-list-gap: 0.5rem;
  --base-ul-gap: 0.5rem;
  --home-content-gap: 1rem;

  --base-list-radius: 10px;
  --base-tag-radius: 5px;
  --base-mini-radius: 10px;
  --base-list-new-item-btn-radius: 5px;

  --home-project-mini-nav-color: var(--col-txt-alt);
  --home-project-mini-nav-hover-color: var(--col-accent);
  --base-list-new-item-btn-color: var(--col-white);
  --base-list-new-item-btn-hover-color: var(--col-accent);
  --otherinfo-line-color: var(--col-grey);
  --base-tag-color: var(--col-txt-alt);
  --title-h2-color: var(--col-txt);
  --title-h2-decoration-color: var(--col-secondary);
  --dialog-color: var(--col-txt-alt);
  --dialog-content-color: var(--col-txt);
  --dialog-submit-btn-color: var(var(--col-txt));
  --light-btn-color: var(--col-secondary);
  --base-list-size-color: var(--col-secondary);
  --lighter-btn-color: var(--col-grey);
  --btn-hover-color: var(--col-accent);
  --ntodonested-color: var(--col-white);
  --ntodonested-nav-color: var(--col-black);

  --home-project-mini-nav-bg-color: var(--col-secondary);
  --home-project-mini-nav-hover-bg-color: var(--col-black);
  --base-list-bg-color: var(--col-grey);
  --base-list-new-item-btn-bg-color: var(--col-black);
  --base-list-new-item-btn-hover-bg-color: var(--col-black);
  --base-mini-bg-color: var(--col-white);
  --base-tag-bg-color: var(--col-secondary);
  --dialog-bg-color: var(--col-black);
  --dialog-content-bg-color: var(--bg-col);
  --dialog-submit-btn-bg-color: var(--col-accent);
  --ntodonested-bg-color: var(--col-black);
  --ntodonested-nav-bg-color: var(--col-accent);

  --dialog-margin: var(--main-padding);
  --dialog-width: calc(var(--max-width) - 2 * var(--main-padding));
}

/* --------------------------------------------*/
