@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Lato&display=swap");

:root,
::backdrop {
  /* Colors (palette)*/
  --col-white: #ffffff;
  --col-grey: #bfc0c0;
  --col-black: #2d3142;
  --col-accent: #ef8354;
  --col-secondary: #4f5d75;

  /* Colors (background)*/
  --bg-col: var(--col-white);
  --header-bg-col: var(--col-secondary);

  /* Colors (text/icons)*/
  --col-txt: var(--col-black);
  --col-txt-alt: var(--col-white);
  --col-txt-secondary: var(--col-grey);
  --col-highlight: var(--col-accent);

  /* Font family */
  --main-font: "Oswald", sans-serif;

  /* Font sizes */
  --txt-fontsize: 18px;
  --txt-lineheight: 1.2;

  /* Text clamping: number of lines */
  /* --main-itm-project-description-max-lines: 6;
    --main-itm-announcements-description-max-lines: 3; */

  /* Maximum width (including dashboard margin) */
  /* --max-width: min(1440px, 100%); */

  /*Margins, gaps and paddings (+widths)*/

  /* Images / icons size */

  /* Radius */
  /* --radius:           10px; */

  /* Shadows */
  /* --outset-shadow: 2px 2px 8px var(--col-accent-medium);
    --outset-shadow-btn-active: 2px 2px 5px var(--col-accent-medium);
    --inset-shadow: 2px 2px 2px var(--col-accent-light) inset; */

  /* Animations on hover / active / ...*/
  /* --transition-time: 0.8s; */
}

/* ::backdrop {
  background-color: var(--col-black);
  opacity: 0.75;
} */

html {
  background-color: var(--bg-col);
  color: var(--col-txt);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: var(--txt-fontsize);
  line-height: var(--txt-lineheight);
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: inherit; /* 100% */
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}

body {
  margin: 0 auto;
  height: 100vh; /*it is assumed the same for <html>*/
  height: 100dvh; /* if supported */

  /* if you want to allow scroll: */
  /* min-height: 100vh; */
  /* height: 100%; */

  width: 100%;
  /* or max-width -- this avoids horizontal scroll bars */

  touch-action: manipulation; /* disable double tap to zoom on some browsers*/
}

/*****************************************************/

/* || Generic */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
}

.header-container,
.main-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

p {
  text-wrap: wrap;
  text-wrap: pretty; /*or balanced*/
}

ul {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

/* Custom style */
body > header {
  background-color: var(--header-bg-col);
}

body > main {
  flex: 1;
  padding: var(--main-padding);
}

/* project/todo div ---------------------------- */
.project-div,
.todo-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* header */

/* main */

.project-div__main,
.todo-div__main {
  flex: 1;
}

.project-div__title-h3,
.todo-div__title-h3 {
  font-size: var(--title-h3-fontsize);
  margin-bottom: var(--title-h3-margin-bottom);
}

/* footer */
.project-div__footer,
.todo-div__footer {
  color: var(--col-txt-secondary);
  display: flex;
  font-size: var(--base-footer-fontsize);
  justify-content: flex-end;
  padding: var(--base-footer-padding);
}

.project-div__footer > :not(:last-child):after,
.todo-div__footer > :not(:last-child):after {
  content: "/\00a0";
}

/* todo list */

.project-div__todos-div {
  background-color: var(--todos-bg-color);
  border-radius: var(--todos-radius);
  padding: var(--todos-padding);
}

.project-div__todos-ul {
  display: flex;
  flex-direction: column;
  gap: var(--todos-gap);
}

/* todo mini view */
.todo-mini-div {
  padding: var(--todo-mini-padding);
  border-radius: var(--todo-mini-radius);
  background: var(--todo-mini-bg-color);
  display: grid;
  grid-template-areas:
    ". path path"
    "state imminence title"
    ". otherinfo otherinfo";
  grid-template-columns: min-content min-content 1fr;
}

.todo-mini-div__state-btn {
  grid-area: state;
  font-size: var(--base-mini-status-fontsize);
  align-self: center;
  margin-right: var(--base-mini-status-margin-right);
}
.todo-mini-div__imminence-icon {
  grid-area: imminence;
  font-size: var(--base-mini-title-fontsize);
  align-self: center;
}

.todo-mini-div__path-ul {
  grid-area: path;
  font-size: var(--base-mini-path-fontsize);
}
.todo-mini-div__title-h2 {
  grid-area: title;
  font-size: var(--base-mini-title-fontsize);
  align-self: center;
}
.todo-mini-div__other-infos-div {
  grid-area: otherinfo;
  font-size: var(--base-mini-other-info-fontsize);
}

.todo-mini-div__other-info-div {
  display: flex;
}

/* --------------------------------------------*/

:root {
  --title-h3-fontsize: 0.8rem;
  --base-mini-title-fontsize: 1rem;
  --base-mini-status-fontsize: 1.4rem;
  --base-mini-path-fontsize: 0.5rem;
  --base-mini-other-info-fontsize: 0.8rem;
  --base-footer-fontsize: 0.5rem;

  --main-padding: 1rem;
  --todos-padding: 1rem;
  --todo-mini-padding: 0.5rem;
  --base-footer-padding: 1rem 0 0;

  --title-h3-margin-bottom: 1rem;
  --base-mini-status-margin-right: 0.3rem;

  --todos-gap: 0.5rem;

  --todos-radius: 10px;
  --todo-mini-radius: 10px;

  --todos-bg-color: var(--col-grey);
  --todo-mini-bg-color: var(--col-white);
}

/* --------------------------------------------*/

.base-div__path-ul,
.base-div__tags-ul,
.project-div__path-ul,
.project-div__tags-ul,
.todo-div__path-ul,
.todo-div__tags-ul {
  display: flex;
  gap: 0.5em;
}

.base-div__tag-li,
.project-div__tag-li,
.todo-div__tag-li {
  background-color: var(--col-secondary);
  color: var(--col-txt-alt);
}

.main-nav__btn-inbox,
.main-nav__btn-custom-project,
.project-div__todo-li {
  cursor: pointer;
}

.todo-div__other-info-div {
  display: flex;
  gap: 0.5em;
}

.todo-div__other-info-div-label {
  width: 5em;
}
